main {
    padding-top: 8rem;
}

.sign {
    color: white;
    font-family: sans-serif;
    text-align: center;
    font-weight: bold;
    font-size: 65px;
}

p {
    color: white;
    font-family: 'Jura', sans-serif;
    font-size: 25px;
    text-align: center;
    margin-left: 5rem;
    margin-right: 5rem;
}

