container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.bi {
    color: white;
    font-size: 3rem;
    padding-top: 20px;
}

.bi:hover {
    color:white;
}

.bi-github {
    padding-right: 3rem;
    padding-left: 3rem;
}

#emailAddress {
    color: white;
    text-decoration: none;
    list-style: none;
    font-size: 10px;
    margin: 10px;
}





