.container {
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: 'Jura', sans-serif;
    font-size: 30px;
}

.about {
    padding: 5px;
    color: white;
    list-style-type: none;
    margin: 35px;
}


.about:hover {
    text-decoration: none;
    list-style: none;
    background-color: white;
    color: black;
    border-radius: .5rem; 
}

