.container {
    margin: 1rem;
    display: flex;
    justify-content: space-between;
    font-family: 'Jura', sans-serif;
    font-size: 30px;
    padding-top: 20px;
    margin-left: 5rem;
    margin-right: 5rem;
    /* width: 40% !important; */
}

.about {
    padding: 2px;
    color: white;
    text-decoration: none;
    list-style-type: none;
}


.about:hover {
    background-color: white;
    color: black;
    border-radius: .5rem; 
}

